.label {
  font-size: 18;
  font-family: 'Roboto', sans-serif;
  color: white;
  &_xs {
    font-size: 0.5rem;
  }
  &_s {
    font-size: 0.7rem;
  }
  &_m {
    font-size: 1rem;
  }
  &_l {
    font-size: 1.2rem;
  }
  &_xl {
    font-size: 1.5rem;
  }
  &_white {
    color: white;
    &:hover {
      color: white !important;
    }
  }
  &_oceanblue {
    color: #4267B2
  } 
}

.login-form__submit-button {
  &_xs {
    width: 6.3% !important;
  }
  &_s {
    width: 13.25% !important;
  }
  &_m {
    width: 25% !important;
  }
  &_l {
    width: 50% !important;
  }
  &_xl {
    width: 100% !important;
  }
  &_white {
    background: white;
  }
  &_oceanblue {
    background: #4267B2 !important;
  }
  &_green {
    background: #6CAC6C !important;
  }
  &_red {
    background: #AC6C75 !important;
  }
}