@import './mixins.scss';
@import './fonts.scss';
@import './labels.scss';
@import './widgets.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  background: #E0E4EF;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.back-face {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF;
  backface-visibility: hidden;
  transform: rotateY( 180deg );
  p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #3B5998;    
  }
}

.login-form {
  position: relative;
  display: flex;
  width: 40%;
  height: 80%;
  background: #3B5998;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px #2E4677;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  &_loading {
    transform: rotateY( -180deg );
    box-shadow: 0 0px 0px transparent;
  }

  @include small {
    width: 90%;
  }
  @include medium {
    width: 90%;
  }
  @include large {
    width: 90%;
  }
  @include tablet {
    width: 90%;
  }
  @include small-desktop {
    width: 60%;
  }
}

.login-form__input-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  height: 140px;
  align-items: flex-start;
  justify-content: center;
  background: #3B5998;
  /* margin-bottom: 25px; */
}

.login-form__error {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.input-container__label {
  display: flex;
  flex: 1;
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.input-container__text-input {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  background: #3B5998;
  border: 0;  
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  transition: border 0.1s ease-in-out;
  &:hover {
    border-bottom: 1.5px solid white;
  }
  &:focus {
    border-bottom: 1.5px solid white;
  }
  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
  }
}

.input-container__field-error {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.2s linear;
  p {
    width: 100%;
    text-align: center;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #3B5998;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.login-form__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  border: 1px solid white;
  background: #3B5998;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background 0.25s ease;
  &:hover {
    background: #E0E2EF;
  }
}

.submit-button__label {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #E0E2EF;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  transition: color 0.2s ease-in;
  &:hover {
    color: #3B5998;
    cursor: pointer;
  }
}

.timeline {
  position: relative;
  display: flex;
  width: 90%;
  height: 80%;
  background: white;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 3px 3px #3A414E;
  &__header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 15%;
    background: #4267B2;
    align-items: center;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 30%;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    width: 100%;
    height: 100%;
    background: red;
  }
}

.activity-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(66, 103, 178, 0.769);
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  p {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
  }
}