.post-creation-widget {
  position: relative;
  display: flex;
  flex: 1;
  background: white;
  flex-flow: column wrap;
  &__content {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 3% 3% 6% 3%;
    height: 45%;
    width: 100%;
    textarea {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
      width: 100%;
      color: black;
    }
  }
  &__actions {
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    select {
      height: 50px;
      width: 100%;
    }
    input[type="file"] {
      width: 100%;
      align-self: center;
    }
  }
  &__error {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    font-size: 1.2rem;
    color: #BD2B2B;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
  }
}

.post-display-widget {
  display: flex;
  flex: 1;
  background: white;
  flex-flow: column nowrap;
  min-height: 0px;
  &__actions {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    padding: 3%;
    width: 100%;
    height: 90%; 
    overflow-y: auto;
    .title {
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold
    }
  }
}


.post {
  &-display {
    display: flex;
    flex-shrink: 0;
    height: 250px;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px #A1A1A1;
    margin: 2% 0 2% 0;
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 3%;
      height: 70%;
      width: 100%;
      background: white;
      img {
        max-width: 100px;
        margin: 0 3% 0 3%;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: black;
      }
      textarea {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: black;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3%;
      height: 30%;
      width: 100%;
    }
  }
  &-edit {
    height: 20%;
    width: 100%;
    background: blue;
  }
}

.image-upload {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image-upload + label {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #4267B2;
  border: 2px solid #4267B2;
  width: 100%;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background 0.2s ease-in-out;
  svg {
    width: 1em;
    height: 1em;
    fill: #4267B2;
  }
}

.image-upload:focus + label,
.image-upload + label:hover {
  background: #CCDAF0;
}

.image-upload + label {
  cursor: pointer;
}